<hr />
<h3 class="display-4 mb-3">
  Issues
</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">State</th>
      <th scope="col">Title / Labels</th>
      <th scope="col">Assignees</th>
      <th scope="col">Iteration / Milestone</th>
      <th scope="col">Weight</th>
      <th scope="col">Doing</th>
      <th scope="col">Merge</th>
      <th scope="col">Time spent</th>
    </tr>
  </thead>
  <tbody>
    <% @api.issues.each do |issue| %>
      <tr class="state-<%= issue.display_state %>">
        <td scope="row">
          <a href="<%= issue.web_url %>" style="word-break: break-word;">
            <%= issue.references.relative %>
          </a>
        </td>
        <td>
          <span class="badge badge-<%= state_color(issue.display_state) %>">
            <%= issue.display_state %>
          </span>
        </td>
        <td>
          <a href="<%= issue.web_url %>">
            <%= issue.title %>
          </a>
          <% if issue.unplanned %>
            <div style="color: red">
              added
              <%= issue.added_at.strftime('%d/%m/%Y') %>
            </div>
          <% end %>
          <div>
            <% issue.labels.each do |label| %>
              <span class="badge badge-pill badge-secondary"><%= label %></span>
            <% end %>
          </div>
        </td>
        <td>
          <div class="list-group m-0 p-0">
            <% issue.assignees.each do |assignee| %>
              <%= render 'pdf/_user.html.erb', foo: 'bar', user: assignee %>
            <% end %>
          </div>
        </td>
        <td>
          <% if @api.iteration.present? %>
            <a href="<%= @api.iteration.web_url %>">
              <%= @api.iteration.title %>
            </a>
            <%= ' / ' if issue.milestone.present? %>
          <% end %>
          <% if issue.milestone.present? %>
            <a href="<%= issue.milestone.web_url %>">
              <%= issue.milestone.title %>
            </a>
          <% end %>
        </td>
        <td>
          <% if issue.weight.present? %>
            <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
            <%= issue.weight %>
          <% end %>
        </td>
        <td style="color: <%= (issue.time_stats.doing_time_spent || 0) > 126000 ? 'red' : 'inherit' %>">
          <%= issue.time_stats&.try(:human_doing_time_spent) %>
        </td>
        <td style="color: <%= (issue.time_stats.merge_time_spent || 0) > 126000 ? 'red' : 'inherit' %>">
          <%= issue.time_stats&.try(:human_merge_time_spent) %>
        </td>
        <td style="color: <%= (issue.time_stats.total_time_spent || 0) > 126000 ? 'red' : 'inherit' %>">
          <strong>
            <%= issue.time_stats&.try(:human_total_time_spent) %>
          </strong>
        </td>
      </tr>
    <% end %>
  </tbody>
  <!--tfoot>
    <tr>
      <td colspan="5">&nbsp;</td>
      <th>
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.map(&:weight).compact.inject(:+) %>
      </th>
      <th>
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:doing_time_spent).compact.inject(:+)) %>
      </th>
      <th>
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:merge_time_spent).compact.inject(:+)) %>
      </th>
      <th>
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:total_time_spent).compact.inject(:+)) %>
      </th>
    </tr>
  </tfoot-->
</table>
