<div class="row">
  <div class="col-4">
    <dl class="row">
      <dt class="col-3">
        Total
      </dt>
      <dd class="col-9">
        <%= issues.count %>
        &nbsp;
      </dd>
      <dt class="col-3">Weight:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= issues.map(&:weight).compact.inject(0, :+) %>
        &nbsp;
      </dd>
      <dd class="col-6">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= issues.map(&:assignee_weight).compact.inject(0, :+) %>
        &nbsp;
      </dd>
      <dt class="col-3">Doing:</dt>
      <dd class="col-9">
        <%= seconds_to_s(issues.map(&:time_stats).map(&:doing_time_spent).compact.inject(0, :+)) %>
        &nbsp;
      </dd>
      <dt class="col-3">Merge:</dt>
      <dd class="col-9">
        <%= seconds_to_s(issues.map(&:time_stats).map(&:merge_time_spent).compact.inject(0, :+)) %>
        &nbsp;
      </dd>
      <dt class="col-3">Time:</dt>
      <dd class="col-9">
        <%= seconds_to_s(issues.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+)) %>
        &nbsp;
      </dd>
    </dl>
  </div>
  <div class="col-4">
    <dl class="row">
      <dt class="col-3">
        Average
      </dt>
      <dd class="col-9">
        &nbsp;
      </dd>
      <dt class="col-3">Weight:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= issues.map(&:weight).compact.instance_eval { size.to_i > 0 ? inject(0, :+) / size.to_i : 0 } %>
        &nbsp;
      </dd>
      <dd class="col-6">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= issues.map(&:assignee_weight).compact.instance_eval { size.to_i > 0 ? inject(0, :+) / size.to_i : 0 } %>
        &nbsp;
      </dd>
      <dt class="col-3">Doing:</dt>
      <dd class="col-9">
        <%= seconds_to_s(issues.map(&:time_stats).map(&:doing_time_spent).compact.instance_eval { size.to_i > 0 ? inject(0, :+) / size.to_i : 0 }) %>
        &nbsp;
      </dd>
      <dt class="col-3">Merge:</dt>
      <dd class="col-9">
        <%= seconds_to_s(issues.map(&:time_stats).map(&:merge_time_spent).compact.instance_eval { size.to_i > 0 ? inject(0, :+) / size.to_i : 0 }) %>
        &nbsp;
      </dd>
      <dt class="col-3">Time:</dt>
      <dd class="col-9">
        <%= seconds_to_s(issues.map(&:time_stats).map(&:total_time_spent).compact.instance_eval { size.to_i > 0 ? inject(0, :+) / size.to_i : 0 }) %>
        &nbsp;
      </dd>
    </dl>
  </div>
  <div class="col-4">
    <dl class="row">
      <dt class="col-3">
        Ratio
      </dt>
      <dd class="col-5">
        <%= '%.2f' % ((
          issues.count /
          @api.issues.count.to_f
        ) * 100) %>%
      </dd>
      <dd class="col-4">
        <strong>
          <%= '%.2f' % ([
            ((
              issues.count /
              @api.issues.count.to_f
            ) * 100),
            ((
              issues.map(&:weight).compact.inject(0, :+) /
              @api.issues.map(&:weight).compact.inject(0, :+).to_f
            ) * 100),
            ((
              issues.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+) /
              @api.issues.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+).to_f
            ) * 100)
          ].inject(0, :+) / 3.0) %>%
        </strong>
        &nbsp;
      </dd>
      <dt class="col-3">Weight:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= '%.2f' % ((
          issues.map(&:weight).compact.inject(0, :+) /
          @api.issues.map(&:weight).compact.inject(0, :+).to_f
        ) * 100) %>%
        &nbsp;
      </dd>
      <dd class="col-6">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= '%.2f' % ((
          issues.map(&:assignee_weight).compact.inject(0, :+) /
          @api.issues.map(&:assignee_weight).compact.inject(0, :+).to_f
        ) * 100) %>%
        &nbsp;
      </dd>
      <dt class="col-3">Doing:</dt>
      <dd class="col-9">
        <%= '%.2f' % ((
          issues.map(&:time_stats).map(&:doing_time_spent).compact.inject(0, :+) /
          @api.issues.map(&:time_stats).map(&:doing_time_spent).compact.inject(0, :+).to_f
        ) * 100) %>%
        &nbsp;
      </dd>
      <dt class="col-3">Merge:</dt>
      <dd class="col-9">
        <%= '%.2f' % ((
          issues.map(&:time_stats).map(&:merge_time_spent).compact.inject(0, :+) /
          @api.issues.map(&:time_stats).map(&:merge_time_spent).compact.inject(0, :+).to_f
        ) * 100) %>%
        &nbsp;
      </dd>
      <dt class="col-3">Time:</dt>
      <dd class="col-9">
        <%= '%.2f' % ((
          issues.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+) /
          @api.issues.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+).to_f
        ) * 100) %>%
        &nbsp;
      </dd>
    </dl>
  </div>
</div>
