<hr />

<h2 class="display-4 mb-3">
  KPIs: Enhancements / Bugs
</h2>

<h3 class="h5 mb-3">
  <%= @api.issues.select {|i| i.enhancement }.count %>
  Enhancements
</h3>

<%= render 'pdf/_kpi.html.erb', issues: @api.issues.select {|i| i.enhancement } %>

<h3 class="h5 mb-3">
  <%= @api.issues.select {|i| i.bug }.count %>
  Bugs
</h3>

<%= render 'pdf/_kpi.html.erb', issues: @api.issues.select {|i| i.bug } %>

<h3 class="h5 mb-3">
  <%= @api.issues.select {|i| !i.enhancement && !i.bug }.count %>
  Others
</h3>

<%= render 'pdf/_kpi.html.erb', issues: @api.issues.select {|i| !i.enhancement && !i.bug } %>

<hr />

<!-- Groups / Projects -->

<h2 class="display-4 mb-3">
  KPIs: Groups / Projects
</h2>

<% @api.groups.each do |group| %>

  <% next if @api.issues.select {|i| i.group == group }.count == 0 %>

  <h3 class="h5 mb-3">
    <%= group.full_name %>
    <%= @api.issues.select {|i| i.group == group }.count %>
    issues
  </h3>

  <%= render 'pdf/_kpi.html.erb', issues: @api.issues.select {|i| i.group == group } %>

  <div style="width: 100%; padding-left: 100px">
  <% @api.projects.select {|p|
    p.namespace.kind == "group" && p.namespace.full_path == group.full_path
  }.each do |project| %>

    <% next if @api.issues.select {|i| i.project == project }.count == 0 %>

    <h5 class="h6 mb-3">
      <%= [group.full_name, project.name].join(' / ') %>
      <%= @api.issues.select {|i| i.project == project }.count %>
      issues
    </h5>

    <%= render 'pdf/_kpi.html.erb', issues: @api.issues.select {|i| i.project == project } %>

  <% end %>
  </div>
  <hr />
<% end %>

