<hr />

<h3 class="display-4 mb-3">
  Merge requests
</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">State</th>
      <th scope="col">Title / Labels</th>
      <th scope="col">Assignees / Reviewers</th>
      <th scope="col">Iteration / Milestone</th>
      <th scope="col">Changes / Notes</th>
      <th scope="col">Draft</th>
      <th scope="col">Review</th>
      <th scope="col">Time spent</th>
    </tr>
  </thead>
  <tbody>
    <% @api.merge_requests.each do |merge_request| %>
      <tr class="state-<%= merge_request.display_state %>">
        <td scope="row">
          <a href="<%= merge_request.web_url %>" style="word-break: break-word;">
            <%= merge_request.references.relative %>
          </a>
        </td>
        <td>
          <span class="badge badge-<%= state_color(merge_request.display_state) %>">
            <%= merge_request.display_state %>
          </span>
        </td>
        <td>
          <a href="<%= merge_request.web_url %>">
            <%= merge_request.title %>
          </a>
        <div>
          <% merge_request.labels.each do |label| %>
            <span class="badge badge-pill badge-secondary"><%= label %></span>
          <% end %>
        </div>
        </td>
        <td>
          <% if merge_request.assignees.any? %>
            <strong>Assignees</strong>
            <div class="list-group m-0 p-0">
              <% merge_request.assignees.each do |assignee| %>
                <%= render 'pdf/_user.html.erb', user: assignee %>
              <% end %>
            </div>
          <% end %>
          <% if merge_request.reviewers.any? %>
            <strong>Reviewers</strong>
            <div class="list-group m-0 p-0">
              <% merge_request.reviewers.each do |reviewer| %>
                <%= render 'pdf/_user.html.erb', user: reviewer %>
              <% end %>
            </div>
          <% end %>
        </td>
        <td>
          <% if @api.iteration.present? %>
            <a href="<%= @api.iteration.web_url %>">
              <%= @api.iteration.title %>
            </a>
            <%= ' / ' if merge_request.milestone.present? %>
          <% end %>
          <% if merge_request.milestone.present? %>
            <a href="<%= merge_request.milestone.web_url %>">
              <%= merge_request.milestone.title %>
            </a>
          <% end %>
        </td>
        <td>
          <div>
            <img src="<%= asset_path("diff.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
            <%= merge_request.changes_count %>
          </div>
          <div>
            <img src="<%= asset_path("note.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
            <%= merge_request.user_notes_count %>
          </div>
        </td>
        </td>
        <td style="color: <%= (merge_request.time_stats.draft_time_spent || 0) > 126000 ? 'red' : 'inherit' %>">
          <%= merge_request.time_stats&.human_draft_time_spent %>
        </td>
        <td style="color: <%= (merge_request.time_stats.review_time_spent || 0) > 126000 ? 'red' : 'inherit' %>">
          <%= merge_request.time_stats&.human_review_time_spent %>
        </td>
        <td style="color: <%= (merge_request.time_stats.total_time_spent || 0) > 126000 ? 'red' : 'inherit' %>">
          <strong>
            <%= merge_request.time_stats&.human_total_time_spent %>
          </strong>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
