<hr />

<h2 class="display-4 mb-3">
  <%= @api.issues.count %>
  Issues
</h2>

<div class="row">
  <div class="col-4">
    <dl class="row">
      <dt class="col-3">Closed:</dt>
      <dd class="col-2">
        <%= @api.issues.select {|i| i.display_state == 'closed' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'closed' }.map(&:weight).compact.inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'closed' }.map(&:assignee_weight).compact.inject(0, :+) %>
      </dd>
      <dt class="col-3">Done:</dt>
      <dd class="col-2">
        <%= @api.issues.select {|i| i.display_state == 'done' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'done' }.map(&:weight).compact.inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'done' }.map(&:assignee_weight).compact.inject(0, :+) %>
      </dd>
      <dt class="col-3">Doing:</dt>
      <dd class="col-2">
        <%= @api.issues.select {|i| i.display_state == 'doing' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'doing' }.map(&:weight).compact.inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'doing' }.map(&:assignee_weight).compact.inject(0, :+) %>
      </dd>
      <dt class="col-3">Open:</dt>
      <dd class="col-2">
        <%= @api.issues.select {|i| i.display_state == 'open' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'open' }.map(&:weight).compact.inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.select {|i| i.display_state == 'open' }.map(&:assignee_weight).compact.inject(0, :+) %>
      </dd>
    </dl>
  </div>
  <div class="col-4">
    <dl class="row">
      <dt class="col-5">Weight:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.map(&:weight).compact.inject(:+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.map(&:assignee_weight).compact.inject(:+) %>
      </dd>
      <dt class="col-5">Doing time:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:doing_time_spent).compact.inject(0, :+)) %>
      </dd>
      <dt class="col-5">Merge time:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:merge_time_spent).compact.inject(0, :+)) %>
      </dd>
      <dt class="col-5">Time spent:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+)) %>
      </dd>
    </dl>
  </div>
  <div class="col-4">
    <dl class="row">
      <dt class="col-5">Average:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.map(&:weight).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 } %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("assignee-weight.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.issues.map(&:assignee_weight).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 } %>
      </dd>
      <dt class="col-5">Doing avg:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:doing_time_spent).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 }) %>
      </dd>
      <dt class="col-5">Merge avg:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:merge_time_spent).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 }) %>
      </dd>
      <dt class="col-5">Time avg:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.issues.map(&:time_stats).map(&:total_time_spent).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 }) %>
      </dd>
    </dl>
  </div>
</div>

<hr />

<h2 class="display-4 mb-3">
  <%= @api.merge_requests.count %>
  Merge requests
</h2>

<div class="row">
  <div class="col-4">
    <dl class="row">
      <dt class="col-3">Merged:</dt>
      <dd class="col-2">
        <%= @api.merge_requests.select {|i| i.display_state == 'merged' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("note.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.select {|i| i.display_state == 'merged' }.map(&:user_notes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("diff.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.select {|i| i.display_state == 'merged' }.map(&:changes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dt class="col-3">Closed:</dt>
      <dd class="col-2">
        <%= @api.merge_requests.select {|i| i.display_state == 'closed' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("note.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.select {|i| i.display_state == 'closed' }.map(&:user_notes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("diff.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.select {|i| i.display_state == 'closed' }.map(&:changes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dt class="col-3">Open:</dt>
      <dd class="col-2">
        <%= @api.merge_requests.select {|i| i.display_state == 'opened' }.count %>
      </dd>
      <dd class="col-3">
        <img src="<%= asset_path("note.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.select {|i| i.display_state == 'opened' }.map(&:user_notes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("diff.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.select {|i| i.display_state == 'opened' }.map(&:changes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
    </dl>
  </div>
  <div class="col-4">
    <dl class="row">
      <dt class="col-5">Total:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("note.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.map(&:user_notes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("diff.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.map(&:changes_count).compact.map(&:to_i).inject(0, :+) %>
      </dd>
      <dt class="col-5">Draft time:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.merge_requests.map(&:time_stats).map(&:draft_time_spent).compact.inject(0, :+)) %>
      </dd>
      <dt class="col-5">Review time:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.merge_requests.map(&:time_stats).map(&:review_time_spent).compact.inject(0, :+)) %>
      </dd>
      <dt class="col-5">Time spent:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.merge_requests.map(&:time_stats).map(&:total_time_spent).compact.inject(0, :+)) %>
      </dd>
    </dl>
  </div>
  <div class="col-4">
    <dl class="row">
      <dt class="col-5">Average:</dt>
      <dd class="col-3">
        <img src="<%= asset_path("note.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.map(&:user_notes_count).compact.map(&:to_i).instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 } %>
      </dd>
      <dd class="col-4">
        <img src="<%= asset_path("diff.svg") %>" height="16" width="16" style="vertical-align: baseline"/>
        <%= @api.merge_requests.map(&:changes_count).compact.map(&:to_i).instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 } %>
      </dd>
      <dt class="col-5">Draft avg:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.merge_requests.map(&:time_stats).map(&:draft_time_spent).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 }) %>
      </dd>
      <dt class="col-5">Review avg:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.merge_requests.map(&:time_stats).map(&:review_time_spent).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 }) %>
      </dd>
      <dt class="col-5">Time avg:</dt>
      <dd class="col-7">
        <%= seconds_to_s(@api.merge_requests.map(&:time_stats).map(&:total_time_spent).compact.instance_eval { size.to_i > 0 ? reduce(:+) / size.to_i : 0 }) %>
      </dd>
    </dl>
  </div>
</div>
