<a class="list-group-item d-flex flex-nowrap mt-1 mb-1 p-0" href="<%= user.web_url %>" >
  <img src="<%= user.avatar_url %>" height="28" width="28" class="mr-2" />
  <div class="bmd-list-group-col">
    <p class="list-group-item-heading mr-0 mb-0"><%= user.name %></p>
    <p class="list-group-item-text mb-0">@<%= user.username %></p>
  </div>
</a>
