<!DOCTYPE html>
<html>
  <head>
    <title>Gitlab Report</title>
    <base href="/home/ghis/Workspace/gitlab-tools/lib/gitlab/tools/assets">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= asset_base64('main.css') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  </head>

  <body>
    <div class="bmd-layout-container bmd-drawer-f-l">
      <%= yield %>
    </div>
  </body>
</html>
