<div class="row">

  <div class="col-6">
    <h1 class="display-3"><%= @options[:title] %></h1>
    <p class="lead"><%= @options[:description] %></p>
    <dl class="row d-flex">
      <dt class="col-2">Date:</dt>
      <dd class="col-10"><%= @options[:date] %></dd>
    </dl>
  </div>

  <div class="col-6">
    <dl class="row d-flex">
      <% if @api.group %>
        <dt class="col-4">Group:</dt>
        <dd class="col-8">
          <a href="<%= @api.group.web_url %>">
            <%= @api.group&.name %>
          </a>
        </dd>
      <% end %>
      <% if @api.project %>
        <dt class="col-4">Project:</dt>
        <dd class="col-8">
          <a href="<%= @api.project.web_url %>">
            <%= @api.project&.name %>
          </a>
        </dd>
      <% end %>
      <% if @api.assignee %>
        <dt class="col-4">Assignee:</dt>
        <dd class="col-8"><%= render 'pdf/_user.html.erb', user: @api.assignee %></dd>
      <% end %>
      <% if @api.milestone %>
        <dt class="col-4">Milestone</dt>
        <dd class="col-8">
          <a href="<%= @api.milestone.web_url %>">
            <%= @api.milestone.title %>
          </a>
        </dd>
        <% if @api.milestone.start_date %>
          <dt class="col-4">Start date:</dt>
          <dd class="col-8"><%= Date.parse(@api.milestone.start_date).strftime("%d/%m/%Y") %></dd>
        <% end %>
        <% if @api.milestone.due_date %>
          <dt class="col-4">Due date:</dt>
          <dd class="col-8"><%= Date.parse(@api.milestone.due_date).strftime("%d/%m/%Y") %></dd>
        <% end %>
      <% end %>
      <% if @api.iteration %>
        <dt class="col-4">Iteration</dt>
        <dd class="col-8">
          <a href="<%= @api.iteration.web_url %>">
            <%= @api.iteration.title %>
          </a>
        </dd>
        <% if @api.iteration.start_date %>
          <dt class="col-4">Start date:</dt>
          <dd class="col-8"><%= Date.parse(@api.iteration.start_date).strftime("%d/%m/%Y") %></dd>
        <% end %>
        <% if @api.iteration.due_date %>
          <dt class="col-4">Due date:</dt>
          <dd class="col-8"><%= Date.parse(@api.iteration.due_date).strftime("%d/%m/%Y") %></dd>
        <% end %>
      <% end %>
      <% if @options[:updated_after] %>
        <dt class="col-4">Updated after</dt>
        <dd class="col-8"><%= Date.parse(@options[:updated_after]).strftime("%d/%m/%Y") %></dd>
      <% end %>
      <% if @options[:updated_before] %>
        <dt class="col-4">Updated before</dt>
        <dd class="col-8"><%= Date.parse(@options[:updated_before]).strftime("%d/%m/%Y") %></dd>
      <% end %>
    </dl>
  </div>
</div>

<%= render 'pdf/_overview.html.erb' %>
<%= render 'pdf/_kpis.html.erb' %>
<%= render 'pdf/_issues.html.erb' if @options[:detail] %>
<%= render 'pdf/_merge_requests.html.erb' if @options[:detail] %>
