html, body, .row {
  background: white;
}


td.state-closed,
tr.state-closed > td,
td.state-merged,
tr.state-merged > td {
  background-color: #FDD !important;
}

td.state-done,
tr.state-done > td {
  background-color: #FCE5CD !important;
}

td.state-doing,
tr.state-doing > td {
  background-color: #DFD !important;
}

td.state-opened,
tr.state-opened > td {
  background-color: #EEE !important;
}

