- <%= [
  "[#{commit.title}](#{commit.web_url})",
  commit.author && "by @#{commit.author.username}" ||
  commit.author_name && "by #{commit.author_name}",
  commit.merge_request_url && "([merge request](#{commit.merge_request_url}))"
].compact.join(' ') -%>
