<%- @api.changelog.each do |tag| -%>
<%- unless @api.changelog.count == 1 -%>
# <%= tag.name %> (<%= Time.parse(tag.commit.created_at).strftime('%d/%m/%Y') %>)

<%- if description = tag.release&.description || tag.message -%>
<%= description %>

<%- end -%>
<%- end -%>
<%- if tag.features.any? -%>
## Features (<%= tag.features.count %>)

<%- tag.features.each do |commit| -%>
<%= render 'md/_commit.md.erb', commit: commit %>
<%- end -%>

<%- end -%>
<%- if tag.hotfixes.any? -%>
## Hotfixes (<%= tag.hotfixes.count %>)

<%- tag.hotfixes.each do |commit| -%>
<%= render 'md/_commit.md.erb', commit: commit %>
<%- end -%>

<%- end -%>
<%- if tag.bugfixes.any? -%>
## Bugfixes (<%= tag.bugfixes.count %>)

<%- tag.bugfixes.each do |commit| -%>
<%= render 'md/_commit.md.erb', commit: commit %>
<%- end -%>

<%- end -%>
<%- if tag.others.any? -%>
<%- if tag.features.any? || tag.hotfixes.any? || tag.bugfixes.any? -%>
## Other (<%= tag.others.count %>)
<%- else -%>
## Changes (<%= tag.others.count %>)
<%- end -%>

<%- tag.others.each do |commit| -%>
<%= render 'md/_commit.md.erb', commit: commit %>
<%- end -%>

<%- end -%>
<%- end -%>
